header{
	width: 80%;
	background-color: #66CDAA;
	text-align: center;
	margin: 0 auto;
}
h1{
	padding: 40px;
}
body{
	margin: 0px;
}
@media {
	.contenedor{
		clear: both;
		margin: 0 auto;
		width: 80%;
	}
	.content{
		float: left;
		max-width: 33.3%;
		margin: 0 auto;
		width: 80%;
	}
}
@media (max-width: 600px){
	.contenedor{
		float: left;
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.content{
		margin: 0 auto;
		min-width: 100%;
	}
}
.contenedor{
	border: 1px solid gray;
}
.content{
	margin: 0 auto;
}
.imagen{
	width: 100%;
	background-color: #66CDAA;
	text-align: center;
}
.imagen img{
	width: 60%;
	height: auto;
	margin: 0 auto;
	padding: 10%;
}